force-app/main/default/flows/SDO_Inside_Sales_Create_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>LeadSource_Partner</name>
        <choiceText>Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Inside Sales Create Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Inside Sales Create Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments><field>Company</field><value><elementReference>Company</elementReference></value></inputAssignments>
        <inputAssignments><field>Email</field><value><elementReference>Email</elementReference></value></inputAssignments>
        <inputAssignments><field>LastName</field><value><elementReference>Lead_Name</elementReference></value></inputAssignments>
        <inputAssignments><field>LeadSource</field><value><elementReference>LeadSource</elementReference></value></inputAssignments>
        <inputAssignments><field>Phone</field><value><elementReference>Phone</elementReference></value></inputAssignments>
        <inputAssignments><field>RecordTypeId</field><value><elementReference>Get_SDO_Lead_Default_Record_Type.Id</elementReference></value></inputAssignments>
        <inputAssignments><field>Status</field><value><elementReference>Get_Default_Lead_Status.MasterLabel</elementReference></value></inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Default_Lead_Status</name>
        <label>Get Default Lead Status</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Lead_Details</targetReference></connector>
        <filterLogic>and</filterLogic>
        <filters><field>IsDefault</field><operator>EqualTo</operator><value><booleanValue>true</booleanValue></value></filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadStatus</object>
        <queriedFields>MasterLabel</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SDO_Lead_Default_Record_Type</name>
        <label>Get SDO Lead Default Record Type</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Get_Default_Lead_Status</targetReference></connector>
        <filterLogic>and</filterLogic>
        <filters><field>SobjectType</field><operator>EqualTo</operator><value><stringValue>Lead</stringValue></value></filters>
        <filters><field>DeveloperName</field><operator>EqualTo</operator><value><stringValue>SDO_Lead_Default</stringValue></value></filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Lead_Details</name>
        <label>Lead Details</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector><targetReference>Create_Lead</targetReference></connector>
        <fields>
            <name>Lead_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties><verticalAlignment><stringValue>top</stringValue></verticalAlignment><width><stringValue>12</stringValue></width></styleProperties>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>B2B 請填真實公司名稱；B2C 或未知公司可填「未提供」。</helpText>
            <isRequired>true</isRequired>
            <styleProperties><verticalAlignment><stringValue>top</stringValue></verticalAlignment><width><stringValue>12</stringValue></width></styleProperties>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties><verticalAlignment><stringValue>top</stringValue></verticalAlignment><width><stringValue>6</stringValue></width></styleProperties>
            <validationRule>
                <errorMessage>Phone 或 Email 至少填一項。</errorMessage>
                <formulaExpression>NOT(ISBLANK({!Phone})) || NOT(ISBLANK({!Email}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties><verticalAlignment><stringValue>top</stringValue></verticalAlignment><width><stringValue>6</stringValue></width></styleProperties>
            <validationRule>
                <errorMessage>Phone 或 Email 至少填一項。</errorMessage>
                <formulaExpression>NOT(ISBLANK({!Phone})) || NOT(ISBLANK({!Email}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>LeadSource</name>
            <choiceReferences>LeadSource_Partner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties><verticalAlignment><stringValue>top</stringValue></verticalAlignment><width><stringValue>12</stringValue></width></styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Lead Created</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Lead created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties><verticalAlignment><stringValue>top</stringValue></verticalAlignment><width><stringValue>12</stringValue></width></styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Get_SDO_Lead_Default_Record_Type</targetReference></connector>
    </start>
    <status>Active</status>
</Flow>
