force-app/main/default/flows/SDO_Inside_Sales_Create_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>LeadSourceColdCall</name>
        <choiceText>Cold Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cold Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadSourceCommunity</name>
        <choiceText>Community</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadSourceDataCom</name>
        <choiceText>Data.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadSourceInboundCall</name>
        <choiceText>Inbound Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadSourceMarketingEvent</name>
        <choiceText>Marketing Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadSourcePartner</name>
        <choiceText>Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadSourceReferral</name>
        <choiceText>Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadSourceSalesforceIoT</name>
        <choiceText>Salesforce IoT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce IoT</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadSourceSocialMedia</name>
        <choiceText>Social Media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social Media</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadSourceWebsite</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <interviewLabel
  >Inside Sales Create Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inside Sales Create Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>CreatedLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Lead_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference
        >Get_SDO_Lead_Default_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Get_SDO_Lead_Default_Record_Type</name>
        <label>Get SDO Lead Default Record Type</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SDO_Lead_Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Lead_Details</name>
        <label>Lead Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <fields>
            <name>LeadName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Company_Help</name>
            <fieldText
      >&lt;p&gt;B2B 請填寫真實公司名稱；B2C 或未知公司可填「未提供」。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage
        >&lt;p&gt;Phone 或 Email 至少需填寫一項。&lt;/p&gt;</errorMessage>
                <formulaExpression
        >OR(NOT(ISBLANK({!Phone})), NOT(ISBLANK({!Email})))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage
        >&lt;p&gt;Phone 或 Email 至少需填寫一項。&lt;/p&gt;</errorMessage>
                <formulaExpression
        >OR(NOT(ISBLANK({!Phone})), NOT(ISBLANK({!Email})))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>LeadSource</name>
            <choiceReferences>LeadSourceColdCall</choiceReferences>
            <choiceReferences>LeadSourceCommunity</choiceReferences>
            <choiceReferences>LeadSourceDataCom</choiceReferences>
            <choiceReferences>LeadSourceInboundCall</choiceReferences>
            <choiceReferences>LeadSourceMarketingEvent</choiceReferences>
            <choiceReferences>LeadSourcePartner</choiceReferences>
            <choiceReferences>LeadSourceReferral</choiceReferences>
            <choiceReferences>LeadSourceSalesforceIoT</choiceReferences>
            <choiceReferences>LeadSourceSocialMedia</choiceReferences>
            <choiceReferences>LeadSourceWebsite</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Created</name>
        <label>Lead Created</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LeadCreatedMessage</name>
            <fieldText>&lt;p&gt;Lead 已成功建立。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SDO_Lead_Default_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
